/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background: rgb(236, 236, 236);
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

.wrapper {
    max-width: 800px;
    border: 1px solid rgb(204, 204, 204);
    margin: 0 auto;
    box-shadow: 10px 10px 20px grey;
}

/* header */

header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}

header .link {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.2em 1em;
}

header .hero-banner {
    background: url('../img/bg.jfif') no-repeat center center / cover;
    height: 100%;
    width: 100%;
}

/* work */

#work {
    margin-bottom: 2em;
}

.work-heading {
    text-align: center;
    padding: 0.5em 0;
    background: rgb(0, 0, 0);
    color: #fff;
}

.pic {
    text-align: center;
}

.work ul li {
    margin: 1em 0;
}

.footer {
    text-align: center;
}

/* Media Queries */

@media(min-width: 500px) {
    .wrapper {
        margin: 0 auto;
    }
    header {
        flex-direction: row;
    }
}